@model IEnumerable<ThreadView>

@{
    ViewBag.Title = ViewBag.BoardName;
    Layout = "_Layout";

    var isAuthorized = AccountHelper.IsAuthorized(Context);
    var accessGranted = AccountHelper.GetAccessIndex(User, RoleName.Moderator) >= 0;
    var returnUrl = Context.Request.Path.Value + Context.Request.QueryString.Value;
    var pathHelper = new PathHelper(Url);
}


<h1 class="display-3 mb-2 text-md-end text-center">@ViewBag.Title</h1>
@foreach (var thread in Model)
{
    <div class="container-lg thread mb-2">
        <div class="row mt-2 mb-2">
            <div class="col">
                <a class="link-inter display-6" asp-action="ViewList" asp-controller="Post"
                   asp-route-boardId="@thread.BoardId" asp-route-threadId="@thread.Id">
                    @thread.Name
                </a>
            </div>
            @if (isAuthorized && accessGranted)
            {
                <div class="col-auto">
                    <button class="btn" type="button" data-bs-toggle="modal" data-bs-target="#removeModal">
                        Удалить тред
                    </button>
                </div>
                <div class="modal fade" id="removeModal" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Удаление треда</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body text-break">
                                Вы действительно хотите удалить тред:<br>
                                @thread.Name
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" data-bs-dismiss="modal">
                                    Закрыть
                                </button>
                                <form asp-action="Remove" method="post" enctype="multipart/form-data">
                                    <input type="hidden" name="boardId" value="@thread.BoardId" />
                                    <input type="hidden" name="id" value="@thread.Id" />
                                    <input type="submit" class="btn" value="Удалить" />
                                </form>
                                @if (AccountHelper.GetAccessIndex(Context.User, RoleName.Admin) == 0)
                                {
                                    <form asp-action="ForcedRemove" method="post" enctype="multipart/form-data">
                                        <input type="hidden" name="boardId" value="@thread.BoardId" />
                                        <input type="hidden" name="id" value="@thread.Id" />
                                        <input type="submit" class="btn" value="Удалить навсегда" />
                                    </form>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row mb-2">
            @{
                var countPost = 1;
                var column = "12";
                var offset = "0";

                foreach (var post in thread.Posts)
                {
                    var className = countPost == 1 ? "first-post" : "post shadow";
                    
                    <div class="col col-lg-@column offset-lg-@offset">
                        <div class="container-lg @className rounded pt-2 pb-2 mb-2">
                            <div class="row align-items-center mb-2">
                                <div class="col-auto">
                                    <a asp-action="Info" asp-controller="Account" asp-route-id="@post.Poster.Id">
                                        <img src="@pathHelper.GetCompressedFilePath(post.Poster)" alt="Аватар" 
                                             class="d-inline-block rounded-circle" />
                                    </a>
                                </div>
                                <div class="col-auto">
                                    <a class="link-inter" asp-action="Info" asp-controller="Account" asp-route-id="@post.Poster.Id">
                                        @post.Poster.Name
                                    </a>
                                </div>
                                <div class="col-auto">
                                    @post.CreationTime.ToString(ConstHelper.DateFormat)
                                </div>
                            </div>
                            @switch (post.FileNames.Count)
                            {
                                case > 1:
                                {
                                    <div class="row mb-2">
                                        @for (var i = 0; i < post.FileNames.Count; ++i)
                                        {
                                            <div class="col-md-3" name="media">
                                                <img src="@post.CompressedPaths[i]" alt="@post.FileNames[i]" class="img-fluid"/>
                                                <input type="hidden" value="@post.Paths[i]" />
                                            </div>
                                        }
                                    </div>
                                    <div class="row">
                                        <div name="post-text" class="col-12 text-break">
                                            @post.Text
                                        </div>
                                    </div>

                                    break;
                                }
                                case 1:
                                {
                                    <div class="row">
                                        <div class="col-md-3" name="media">
                                            <img src="@post.CompressedPaths[0]" alt="@post.FileNames[0]" class="img-fluid"/>
                                            <input type="hidden" value="@post.Paths[0]" />
                                        </div>
                                        <div name="post-text" class="col text-break">
                                            @post.Text
                                        </div>
                                    </div>

                                    break;
                                }
                                default:
                                {
                                    <div class="row">
                                        <div name="post-text" class="col-12 text-break">
                                            @post.Text
                                        </div>
                                    </div>

                                    break;
                                }
                            }
                        </div>
                    </div>
                    <div class="w-100"></div>
                    
                    switch (countPost)
                    {
                        case 1:
                            column = "6";
                            offset = "6";
                            break;
                        case 2:
                            column = "9";
                            offset = "3";
                            break;
                        case 3:
                            column = "auto";
                            offset = "0";
                            break;
                    }
                    
                    ++countPost;
                }
            }
        </div>
    </div>
}

<div id="owp-main-panel" class="container-lg fixed-bottom align-self-center owp-translate">
    <div class="row justify-content-center">
        <div id="owp-btn" class="col-auto rounded-top text-center shadow owp-btn pb-1">
            Создать тред
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col rounded-top shadow owp-form" style="max-height: var(--max-height-inter)">
            @*CONTENT*@
            @if (isAuthorized)
            {
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <input type="hidden" value="@ViewBag.BoardId" name="BoardId"/>
                    <div class="container">
                        <div class="row mt-2 mb-2">
                            <div class="col">
                                <div class="form-floating">
                                    <input class="form-control" id="Name" name="Name" maxlength="30" 
                                           placeholder="Название треда" autocomplete="off" />
                                    <label for="Name">Название треда</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="post-text-editor" class="col-lg-8 col-12 mb-2">
                                <div class="container p-0">
                                    <div class="row mb-2">
                                        <div class="col">
                                            <div class="form-floating" style="height: 100%">
                                                <textarea class="form-control" rows="10" type="text" id="Text" name="Text" 
                                                    style="resize: none; height: 100%" placeholder="Текст шапки треда"></textarea>
                                                <label for="Text">Текст шапки треда</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-auto">@HtmlPageHelper.GetEditorPanel(Url)</div>
                                        <div id="text-length-counter" class="col-auto ms-auto">@ConstHelper.MaxTextLength</div>
                                    </div>
                                </div>
                            </div>
                            <div id="post-media-editor" class="col-lg-4 col-12 mb-2">
                                @HtmlPageHelper.GetDragAndDropField(Url, true, false)
                            </div>
                        </div>
                        @if (accessGranted)
                        {
                            <div class="row justify-content-center">
                                <div class="col-auto mb-2">
                                    <div class="row">
                                        <div class="col-auto pt-2">
                                            <label>Читать могут:</label>
                                        </div>
                                        <div class="col-auto">
                                            <select class="form-select" name="ReadRoleName" asp-items="@ViewBag.ReadRoles"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto mb-2">
                                    <div class="row">
                                        <div class="col-auto pt-2">
                                            <label>Отвечать могут:</label>
                                        </div>
                                        <div class="col-auto">
                                            <select class="form-select" name="WriteRoleName" asp-items="@(ViewBag.WriteRoles)"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto align-self-center mb-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input shadow me-2" name="IsPinned" type="checkbox" id="isPinned"/>
                                        <label class="form-check-label" for="isPinned">(закрепить тред вверху)</label>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="row mb-2 justify-content-center">
                            <div class="col-auto">
                                <input class="btn shadow" id="btnSubmit" type="submit" value="Создать тред"/>
                            </div>
                        </div>
                    </div>
                </form>   
            }
            else
            {
                <form asp-action="login" asp-controller="Account" enctype="multipart/form-data">
                    <input type="hidden" name="returnUrl" value="@returnUrl" />
                    <div class="container">
                        <div name="login-input" class="row mt-4 mb-2 justify-content-center">
                            <div class="col col-md-6">
                                <div class="form-floating">
                                    <input class="form-control" id="EmailOrName" name="EmailOrName" 
                                           placeholder="Email или имя" type="text"/>
                                    <label for="EmailOrName">Email или имя</label>
                                </div>
                            </div>
                        </div>
                        <div name="login-input" class="row mb-2 justify-content-center">
                            <div class="col col-md-6">
                                <div class="form-floating">
                                    <input class="form-control" id="Password" name="Password" 
                                           placeholder="Пароль" type="password"/>
                                    <label for="Password">Пароль</label>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2 justify-content-center">
                            <div class="col-auto">
                                <input class="btn shadow" type="submit" value="Войти"/>
                            </div>
                        </div>
                        <div class="row mb-2 justify-content-center">или</div>
                        <div class="row mb-2 justify-content-center">
                            <div class="col-auto">
                                <a class="link-inter fw-bold" asp-controller="Account" asp-action="Register">
                                    Зарегистрироваться
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            }
            @*END OF CONTENT*@
        </div>
    </div>
</div>
<script lang="js" src="@Url.Content("~/js/editor.js")"></script>
<script lang="js" src="@Url.Content("~/js/mediaViewer.js")"></script>
<script lang="js" src="@Url.Content("~/js/mediaViewerMobile.js")"></script>
