@model User

@{
    ViewBag.Title = "Информация об аккаунте";
    Layout = "_Layout";
    
    var pathHelper = new PathHelper(Url);
}

<h1 class="display-3 mb-2 text-md-start text-center">@ViewBag.Title</h1>
<div class="container">
    <div class="row justify-content-around">
        <div class="col-auto">
            <img src="@pathHelper.GetCompressedFilePath(Model, false)" alt="Аватар" class="img-fluid" />
        </div>
        <div class="col-6">
            <h4 class="row">Имя: @Model.Name</h4>
            @if (Model.IsEmailHidden)
            {
                <h4 class="row">Email: скрыт</h4>
            }
            else
            {
                <h4 class="row">Email: @Model.Email</h4>
            }
            <h4 class="row">Роль: @Model.Role.Name</h4>
        </div>
        <div class="col-2">
            @if (AccountHelper.GetAccessIndex(User, RoleName.Moderator) >= 0 && AccountHelper.GetAccessIndex(User, Model.Role.Name) > 0)
            {
                <button class="btn shadow" type="button" data-bs-toggle="modal" data-bs-target="#banWindow">
                    Забанить
                </button>

                <div class="modal fade" id="banWindow" tabindex="-1" aria-labelledby="banLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="banLabel">Забанить @Model.Name?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                </button>
                            </div>
                            <form asp-action="Ban" method="get" enctype="multipart/form-data">
                            <input type="hidden" name="userId" value="@Model.Id"/>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-auto">Забанить до</div>
                                            <div class="col-auto">
                                                <input type="date" name="date"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn shadow" value="Подтвердить">
                                    <a class="btn shadow" asp-action="Ban" asp-route-userId="@Model.Id">Навсегда</a>
                                    <button type="button" class="btn shadow" data-bs-dismiss="modal">Закрыть</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
